html { 
}

body {
    width: 95%%;
    height: 95%;
    background-image: url(got21.jpg);
    background-position:top;
    background-repeat: no-repeat;
    background-size:cover;
}

#error {
    color: red;
    font-size: 14;
    font-style: normal;
}

.input-box {
    position: absolute;
    left: 40%;
    top: 65%;
    width: 20%;
    text-align: center;
}

.proceed {
    text-align: center;
    color: white;
    font-size: 14px;
}

.login-label {
    text-align: left;
    color: white;
    font-size: 12px;
}

.login-field {
    width: 100%;
    text-align: left;
}

.unit { 
    position: absolute; 
    display: block; 
    left: 5px; 
    top: 10px; 
    z-index: 9; 
    font-size: 18px;
}

.blur {
    filter: blur(10px);
}

#loginbox {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
}