html { 
  /*background: url(got21.jpg) no-repeat center top scroll; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;*/
}

a:visited {
    text-decoration: none;
    color: white;
}

a:link {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}


.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9995;
  width: 100%;
  height: 36px;
  background: black; /* For browsers that do not support gradients */
}

.nav-label {
    position: fixed;
    z-index: 9999;
    background: black; /* For browsers that do not support gradients */
    color: white;
    font-family: "Lato", sans-serif;
}

#login-label {
    top: 7;
    right: 10px;
    font-weight: 300;
    font-size: 22px;    
}

#site-label {
    top: 2;
    left: 10px;
    font-weight: 500;
    font-size: 28px;
}

.link-label {
    position: fixed;
    z-index: 9999;
    background: black; /* For browsers that do not support gradients */
    color: white;
    font-family: "Lato", sans-serif;
    top: 12;
    font-weight: 500;
    font-size: 14px;
}

#search-link {
    left: 30%;
}

#edit-link {
    left: 42%;
}

#about-link {
    left: 54%;
}

#login-link {
    left: 66%;
}

#tab {
    background-color: black;
    x;
}

body {
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 12px;
    width: 95%;
    height: 95%;
    background-image: url(got21.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight:normal;
}

#searchbar {
    width: 60%;
    height: 55px;
    align: center;
    border-color: transparent;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(200, 200, 200, 1);
    font-size: 32px;
    padding-top: 3px;
    padding-left: 3px;
    font-family: "Lato", sans-serif;
    padding-left: 10px;
}

#Alive {
    color: white;
}

#Deceased {
    color: grey;
}

#Unknown {
    color: grey;
}

caption {
    text-align: left;
}

th {
    background-color: rgba(35, 35, 35, 1.0);
    font-size: 16px;
    opacity: 1.0;
    font-family: "Lato";
    font-weight: 500;
    color: white;
    border-width: 0px;
    padding: 10px;
}
    
table {
    background-color: rgba(0, 0, 0, 0.75);
    color: #DDDDDD;
    opacity: 0.95;
    border-width: 2px;
    border-style: none;
    border-color: black;
    border-collapse: collapse;
}


td {
    background-color: rgba(0, 0, 0, 0.75);
    border-style: none;
    border-width: 0px;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    padding: 10px;
    padding-left: 15px;
}


tr:nth-child(even)  { background: #333;}

tr:nth-child(odd) { background: #777;}

tr:hover {
    background-color: #FFFFFF;
    color: white;
}

.input-box {
    position: absolute;
    left: 30%;
    top: 70%;
    width: 40%;
    text-align: center;
}

#specialinput { 
    display: block; 
    border: 1px 
    solid #d7d6d6; 
    background: #fff; 
    padding: 10px 10px 8px 25px;
    font-family: "Lato";
    font-size: 12px; 
    width: 100%; 
    align: center; 
}

.unit { 
    position: absolute; 
    display: block; 
    left: 5px; 
    top: 7px; 
    z-index: 9; 
    font-size: 18px;
}

#loginbox {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
}

#resultcontainer {       
    position: absolute;
    left: 0%;
    width: 100%;
    top: 81%;
    align: center;
    align-self: center;
}

#searchresults {
    left: 10%;
    width: 80%;
    text-align: center;
    position: relative;
}


#searchresulttext {
    font-family: "Lato";
    font-size: 12px; 
    font-weight:normal;
    color: rgba(255, 255, 255, 1); 
}

#tablecaption {
    font-family: "Lato";
    font-size: 22px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1); 
}

.spoiler {
    color: red;
}
