html { 
  /*background: url(got21.jpg) no-repeat center top scroll; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;*/
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    font-size: 12px;
    width: 95%%;
    height: 95%;
    background-image: url(got21.jpg);
    background-position:top;
    background-repeat: no-repeat;
    background-size:cover;
}

#searchbar {
    width: 60%;
    height: 55px;
    align: center;
    border-color: transparent;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(200, 200, 200, 1);
    font-size: 32px;
    padding-top: 3px;
    padding-left: 3px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    padding-left: 10px;
}

#Alive {
    color: white;
}

#Deceased {
    color: red;
}

#Unknown {
    color: grey;
}

tr:hover {
      background-color: #333333;
}
    
table {
    background-color: #111111;
    opacity: 0.75;
}


.input-box {
    position: absolute;
    left: 30%;
    top: 72%;
    width: 40%;
    text-align: center;
}

#specialinput { 
    display: block; 
    border: 1px 
    solid #d7d6d6; 
    background: #fff; 
    padding: 10px 10px 8px 25px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px; 
    width: 100%; 
    align: center; 
}

.unit { 
    position: absolute; 
    display: block; 
    left: 5px; 
    top: 10px; 
    z-index: 9; 
    font-size: 18px;
}

.blur {
    filter: blur(10px);
}

#loginbox {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
}

#resultcontainer {       
    position: absolute;
    left: 0%;
    width: 100%;
    top: 85%;
    align: center;
    align-self: center;
}

#searchresults {
    left: 20%;
    width: 60%;
    /*margin-left: -250px;*/
    text-align: center;
    position: relative;
}

#searchresulttext {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px; 
    color: rgba(255, 255, 255, 1); 
}

#tablecaption {
    font-family: "Zapfino";
    font-size: 12px;
    color: rgba(255, 255, 255, 1); 
}