html { 
  /*background: url(got21.jpg) no-repeat center top scroll; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;*/
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9995;
  width: 100%;
  height: 36px;
  background: black; /* For browsers that do not support gradients */
}
/*
.fixed-nav-bar-shadow-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9995;
  width: 100%;
  height: 30px;
  background: black;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.0)); 
  background: -o-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.0)); 
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.0));
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.0));
}*/


.nav-label {
    position: fixed;
    z-index: 9999;
    background: black; /* For browsers that do not support gradients */
    color: white;
    font-family: "Lato", sans-serif;
}

#login-label {
    top: 7;
    right: 10px;
    font-weight: 100;
    font-size: 22px;    
}

#site-label {
    top: 2;
    left: 10px;
    font-weight: 100;
    font-size: 28px;
}

#links_label {
    top: 12;
    left: 20%;
    width: 60%;
    font-weight: 100;
    font-size: 16px;
}

body {
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 12px;
    width: 95%;
    height: 95%;
    background-image: url(got21.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: lighter;
}

#searchbar {
    width: 60%;
    height: 55px;
    align: center;
    border-color: transparent;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(200, 200, 200, 1);
    font-size: 32px;
    padding-top: 3px;
    padding-left: 3px;
    font-family: "Lato", sans-serif;
    padding-left: 10px;
}

#Alive {
    color: white;
}

#Deceased {
    color: red;
}

#Unknown {
    color: grey;
}

tr:hover {
    background-color: #888888;
    opacity: 1.0;
}

th {
    background-color: rgba(32, 32, 32, 0.75);
    font-size: 16px;
    opacity: 1.0;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    color: white;
    border-width: 0px;
    text-align: left;
}
    
table {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    border-style: solid;
    border-width: 0px;
}

td {
    /*opacity: 0.75;*/
    background-color: rgba(0, 0, 0, 0.75);
    border-style: none;
    font-size: 13px;
    font-weight: 100;
    text-align: left;
    padding: 10px;
    padding-left: 20px;
}



.input-box {
    position: absolute;
    left: 30%;
    top: 68%;
    width: 40%;
    text-align: center;
}

#specialinput { 
    display: block; 
    border: 1px 
    solid #d7d6d6; 
    background: #fff; 
    padding: 10px 10px 8px 25px;
    font-family: "Lato", sans-serif;
    font-size: 12px; 
    width: 100%; 
    align: center; 
}

.unit { 
    position: absolute; 
    display: block; 
    left: 5px; 
    top: 7px; 
    z-index: 9; 
    font-size: 18px;
}

#loginbox {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
}

#resultcontainer {       
    position: absolute;
    left: 0%;
    width: 100%;
    top: 81%;
    align: center;
    align-self: center;
}

#searchresults {
    left: 10%;
    width: 80%;
    /*margin-left: -250px;*/
    text-align: center;
    position: relative;
}

#searchresulttext {
    font-family: "Lato", sans-serif;
    font-size: 12px; 
    color: rgba(255, 255, 255, 1); 
}

#tablecaption {
    font-family: "Zapfino";
    font-size: 12px;
    color: rgba(255, 255, 255, 1); 
}
